<mat-sidenav-container style="height: 100vh;" class="container">
  <mat-sidenav #sidenavContent opened mode="side" [style.width]="isCollapsed ? '60px' : '200px'">
    <ek-sidenav-header [expanded]="isCollapsed" (toggleSidenav)="isCollapsed = !isCollapsed">
    </ek-sidenav-header>

    <ek-sidenav-content [collapsed]="isCollapsed">
    </ek-sidenav-content>
  </mat-sidenav>
 
  <mat-sidenav-content [class.collapsed]="isCollapsed" [class.expanded]="!isCollapsed">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>