:host {
  .add-position-dialog-wrapper {
    display: block;
    padding: 1.5rem;
  }

  .panel-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
  }
}