// ::ng-deep .create-bank-book-dialog {
//   .mat-dialog-container {
//     display: block;
//     font-weight: 600 !important;

//     &&::before {
//       content: none;
//     }

//     .mat-dialog-content {
//       display: none;
//       width: 800px;
//     }
//   }
// }

