<div>
  <form [formGroup]="bankBookPositionForm">
    <ek-numerictextbox-form-field
      label="Belegnummer"
      formControlName="documentNumber"
      #documentNumberInput />

    <ek-datepicker-form-field formControlName="date" label="Buchungsdatum" />
    <ek-textbox-form-field label="Bezeichnung" formControlName="text" />

    <div class="amounts">
      <ek-numerictextbox-form-field 
        label="Credit" 
        [formControl]="bookingAmounts.controls.credit" 
        type="number" />
      <ek-numerictextbox-form-field 
        label="Debit" 
        [formControl]="bookingAmounts.controls.debit" 
        type="number" />
    </div>
  </form>
</div>