<div>
  <form [formGroup]="bankBookPositionForm">
    <ek-numerictextbox-form-field
      label="Belegnummer"
      formControlName="documentNumber"
      #documentNumberInput />

    <ek-datepicker-form-field formControlName="date" label="Buchungsdatum" />
    <ek-textbox-form-field label="Bezeichnung" formControlName="text" />

    <div class="amounts">
      <ek-numerictextbox-form-field label="Credit" formControlName="credit" type="number" />
      <ek-numerictextbox-form-field label="Debit" formControlName="debit" type="number" />
    </div>
  </form>
</div>