<div>
  <form [formGroup]="bankBookPositionForm">
    <ek-numerictextbox-form-field
      label="Belegnummer"
      formControlName="documentNumber"
      />

    <ek-datepicker-form-field formControlName="date" label="Buchungsdatum"></ek-datepicker-form-field>
    <!-- <ek-bank-book-position-title formControlName="text"></ek-bank-book-position-title> -->

    <ek-textbox-form-field label="Bezeichnung" formControlName="text"/>

    <!-- <ek-bank-book-position-amount [formGroup]="bankBookPositionForm.controls.amount"></ek-bank-book-position-amount> -->
    <!-- <ek-bank-book-position-amount formControlName="credit"></ek-bank-book-position-amount> -->

    <ek-textbox-form-field 
      label="Credit" 
      formControlName="credit"
      type="number" />

    <ek-textbox-form-field 
      label="Debit" 
      formControlName="debit"
      type="number" />
  </form>
</div>


