:host {
  .bank-book-positions-step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem 1rem;

    .actions {
      display: flex;
      gap: 1.5rem;
    }
  }

  
}