<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input matInput 
    [formControl]="control"
    [ngClass]="customClass"
    [maxlength]="maxLength"
    (blur)="inputBlur.emit()">

  @if (!customControlError && control.errors && control.touched) {
    <mat-error>{{ control.errors | formFieldError }}</mat-error>
  } @else if (customControlError && control.errors) {
    <mat-error [innerHTML]="customControlError.key"></mat-error>
  }
   
</mat-form-field>

<!-- <ng-template #error>
  @if (!customControlError && control.errors && control.touched) {
    <mat-error>{{ control.errors | formFieldError }}</mat-error>
  } @else if (customControlError && control.errors) {
    <mat-error [innerHTML]="customControlError.key"></mat-error>
  }
</ng-template> -->