:host {
  margin-bottom: 0.5rem;

  .ek-logo {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding-block: 0.5rem;

    .logo-text {
      margin-left: 0.5rem;
      font-size: 0.875rem;
      color: #333;
    }


    button {
      color: #333;
    }

    &.sidenav-expanded {
      gap: 0.25;
      padding-inline: 1rem;

      button {
        margin-left: auto;
        margin-right: 15px;
      } 
    }
  }
}